{% extends "base.html" %}
{% load rating %}
{% load playcount %}
{% block content %}
{% with album.guess_artist as artist %}

{% if not artist %}
<h1>Compilation: {{ album.name }}</h1>
{% else %}
<h1><a href="{{artist.get_absolute_url}}">{{artist.name}}</a> : {{ album.name}}</h1>
{% endif %}

{% if not album.all_ogg %}
<object type="application/x-shockwave-flash" width="400" height="170"
data="/site_media/swf/xspf_player.swf?playlist_url=playlist/">
<param name="movie" value="/site_media/swf/xspf_player.swf?playlist_url=playlist/" />
</object>
{% endif %}

<table>
  <tr>
    <th>#</th>
    <th>track</th>
    {% if not artist %}
    <th>artist</th>
    {% endif %}
    <th>last played</th>
    <th>play count</th>
    <th>rating</th>
  </tr>

  {% for track in album.track_set.all %}
  <tr class="{% cycle 'even' 'odd' %}">
    <td><a href="{{track.get_absolute_url}}">{{track.track}}</a></td>
    <td><a href="{{track.get_absolute_url}}">{{track.title}}</a></td>
    {% if not artist %}
    <td><a href="{{track.artist.get_absolute_url}}">{{track.artist.name|default:"Unknown"}}</a></td>
    {% endif %}
  {% getplaycount track as playcount %}
  {% getaccessdate track as accessed %}

    <td>{{accessed}}</td>
    <td>{{playcount}}</td>
  {% getrating track as rating %}
    <td width="260"><nobr><div id="rate-{{track.id}}" class="rating"></div>
	<script type="text/javascript">$('#rate-{{track.id}}').rating('{{track.get_absolute_url}}rate/', {maxvalue:10,curvalue:{{rating}}});</script></nobr>
    </td>
  </tr>
  {% endfor %}

</table>

{% endwith %}

{% if user_playlists %}
<tr>
  <th>Add To Playlist</th>
  <td>
    <form action="add_to_playlist/" method="post">
      <table>
	<tr>
	  <td valign="top"><select name="playlist">
	      <option value="">Select Playlist</option>
	      <option value="">---------------</option>
	      {% for playlist in user_playlists %}
	      <option value="{{playlist.id}}">{{playlist.name}}</option>
	      {% endfor %}
	    </select>
	  </td>
	  <td>
	    <textarea rows="3" cols="50" name="note"></textarea>
	  </td>
	  <td>
	    <input type="submit" value="submit"/>
	  </td>
	</tr>
      </table>
    </form>
  </td>
</tr>
{% endif %}

{% endblock %}
