{% extends "base.html" %}

{% block content %}
{% with album.guess_artist as artist %}

{% if not artist %}
<h1>Compilation: {{ album.name }}</h1>
{% else %}
<h1><a href="{{artist.get_absolute_url}}">{{artist.name}}</a> : {{ album.name}}</h1>
{% endif %}

{% if not album.all_ogg %}
<object type="application/x-shockwave-flash" width="400" height="170"
data="/site_media/swf/xspf_player.swf?playlist_url=playlist/">
<param name="movie" value="/site_media/swf/xspf_player.swf?playlist_url=playlist/" />
</object>
{% endif %}

<table>
  <tr>
    <th>#</th>
    <th>track</th>
    {% if not artist %}
    <th>artist</th>
    {% endif %}
    <th>last played</th>
    <th>play count</th>
    <th>rating</th>
  </tr>

  {% for track in album.track_set.all %}
  <tr class="{% cycle 'even' 'odd' %}">
    <td>{{track.track}}</td>
    <td>{{track.title}}</td>
    {% if not artist %}
    <td>{{track.artist.name|default:"Unknown"}}</td>
    {% endif %}
    <td>{{track.statistics.accessed}}</td>
    <td>{{track.statistics.playcounter}}</td>
    <td width="260"><nobr><div id="rate-{{track.id}}" class="rating"></div>
	<script type="text/javascript">$('#rate-{{track.id}}').rating('{{track.get_absolute_url}}rate/', {maxvalue:10,curvalue:{{track.statistics.rating}}});</script></nobr>
    </td>
  </tr>
  {% endfor %}

</table>

{% endwith %}
{% endblock %}
