{% extends "base.html" %}

{% block content %}

<h2>last 20 tracks played</h3>

<table>
<tr>
<th>track</th>
<th>artist</th>
<th>album</th>
<th>when</th>
<th>rating</th>
</tr>

{% for track in last_tracks %}
<tr class="{% cycle 'even' 'odd' %}">
  <td><a href="{{track.get_absolute_url}}">{{track.title|default:"no title"}}</a></td>
  <td><nobr><a href="{{track.artist.get_absolute_url}}">{{track.artist.name|default:"Unknown"}}</a></nobr></td>
  <td><a href="{{track.album.get_absolute_url}}">{{track.album.name|default:"Unknown"}}</a></td>
  <td><nobr>{{track.accessed}}</nobr></td>
  <td width="260"><nobr><div id="rate-latest-{{track.id}}" class="rating"></div>
    <script type="text/javascript">$('#rate-latest-{{track.id}}').rating('{{track.get_absolute_url}}rate/', {maxvalue:10,curvalue:{{track.rating}}});</script></nobr>
  </td>
</tr>
{% endfor %}
</table>

<h2>last 20 tracks added</h3>

<table>
<tr>
<th>track</th>
<th>artist</th>
<th>album</th>
<th>when</th>
<th>rating</th>
</tr>

{% for track in newest_tracks %}
<tr class="{% cycle 'even' 'odd' %}">
  <td><a href="{{track.get_absolute_url}}">{{track.title|default:"no title"}}</a></td>
  <td><a href="{{track.artist.get_absolute_url}}">{{track.artist.name|default:"Unknown"}}</a></td>
  <td><a href="{{track.album.get_absolute_url}}">{{track.album.name|default:"Unknown"}}</a></td>
  <td><nobr>{{track.statistics.created}}</nobr></td>
  <td width="260"><nobr><div id="rate-added-{{track.id}}" class="rating"></div>
    <script type="text/javascript">$('#rate-added-{{track.id}}').rating('{{track.get_absolute_url}}rate/', {maxvalue:10,curvalue:{{track.rating}}});</script></nobr>
  </td>
</tr>
{% endfor %}
</table>


{% endblock %}
