{% extends 'base.html' %}
{% load markup %}

{% block content %}
<h2>Playlist: {{playlist.name}}</h2>
<p><i>by {{playlist.owner.first_name}}</i></p>
{{playlist.description|markdown}}



{% if playlist.playlisttrack_set.count %}
<object type="application/x-shockwave-flash" width="400" height="170"
data="/site_media/swf/xspf_player.swf?playlist_url=playlist/">
<param name="movie" value="/site_media/swf/xspf_player.swf?playlist_url=playlist/" />
</object>


<table style="width:100%" class="playlisttable">
<thead><tr><th></th><th>Track</th><th>Artist/Album</th><th>Notes</th></tr></thead>
<tbody>
{% for pt in playlist.playlisttrack_set.all %}
<tr class="{% cycle 'odd' 'even' %}">
<th valign="top">{{forloop.counter}}</th>
<th valign="top"><b>{{pt.track.title}}</b></th>
<th>
 <nobr><i>by <a href="{{pt.track.artist.get_absolute_url}}">{{pt.track.artist.name}}</a></i></nobr><br />
 <nobr>album: <a href="{{pt.track.album.get_absolute_url}}">{{pt.track.album.name}}</a></nobr>
</th>
<td valign="top">{{pt.note|markdown}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>Playlist is empty</p>
{% endif %}

{% endblock %}
