{% extends "base.html" %}

{% block content %}

<h2>{{tracks.paginator.count}} tracks</h3>

<div class="pagination">
    <span class="step-links">
        {% if tracks.has_previous %}
            <a href="?page={{ tracks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tracks.number }} of {{ tracks.paginator.num_pages }}.
        </span>

        {% if tracks.has_next %}
            <a href="?page={{ tracks.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<table>
<tr>
<th>track</th>
<th>artist</th>
<th>album</th>
<th>played</th>
</tr>

{% for track in tracks.object_list %}
<tr class="{% cycle 'even' 'odd' %}">
  <td><a href="{{track.get_absolute_url}}">{{track.title|default:"no title"}}</a></td>
  <td><nobr><a href="{{track.artist.get_absolute_url}}">{{track.artist.name|default:"Unknown"}}</a></nobr></td>
  <td><a href="{{track.album.get_absolute_url}}">{{track.album.name|default:"Unknown"}}</a></td>
  <td><nobr>{% if track.playcounter %}{{track.accessed}}{% else %}never{% endif %}</nobr></td>
</tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if tracks.has_previous %}
            <a href="?page={{ tracks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tracks.number }} of {{ tracks.paginator.num_pages }}.
        </span>

        {% if tracks.has_next %}
            <a href="?page={{ tracks.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
