{% extends "base.html" %}

{% block content %}
<h1><a href="{{track.artist.get_absolute_url}}">{{ track.artist.name }}</a> 
: 
<a href="{{track.album.get_absolute_url}}">{{ track.album.name }}</a> 
: {{ track.title }}</h1>

{% if track.is_mp3 %}
<object type="application/x-shockwave-flash" width="400" height="30"
data="/site_media/swf/xspf_player_slim.swf?playlist_url=playlist/">
<param name="movie" value="/site_media/swf/xspf_player_slim.swf?playlist_url=playlist/" />
</object>
{% else %}
<p>sorry, only mp3s can be played in the browser currently</p>
{% endif %}

<table>
  <tr>
    <th>file</th>
    <td>{{track.url}}</td>
  </tr>
  
  <tr>
    <th>createdate</th>
    <td>{{track.created}}</td>
  </tr>

  <tr>
    <th>played</th>
    <td>{{ track.playcounter }}
      time{{track.playcounter|pluralize}} 
{% if track.playcounter %}(last play:
      {{track.accessed}}){% endif %}</td>
  </tr>

{% if track.composer.name %}
  <tr>
    <th>composer</th>
    <td>{{track.composer.name}}</td>
  </tr>
{% endif %}

  <tr>
    <th><a href="/genre/">genre</a></th>
    <td><a href="{{ track.genre.get_absolute_url }}">{{track.genre.name|default:"none"}}</a></td>
  </tr>

  <tr>
    <th>year</th>
    <td>{{track.year.name}}</td>
  </tr>

{% if track.comment %}
  <tr>
    <th>comment</th>
    <td>{{track.comment}}</td>
  </tr>
{% endif %}

{% if track.discnumber %}
  <tr>
    <th>discnumber</th>
    <td>{{track.discnumber}}</td>
  </tr>
{% endif %}

  <tr>
    <th>bitrate</th>
    <td>{{track.bitrate}}</td>
  </tr>

  <tr>
    <th>length</th>
    <td>{{track.minutes}}</td>
  </tr>

  <tr>
    <th>samplerate </th>
    <td>{{track.samplerate}}Hz</td>
  </tr>

  <tr>
    <th>filesize </th>
    <td>{{track.mb}}MB</td>
  </tr>

  <tr>
    <th>filetype </th>
    <td>{{track.filetype}}</td>
  </tr>

  <tr>
    <th>sampler </th>
    <td>{{track.sampler}}</td>
  </tr>

  <tr>
    <th>bpm </th>
    <td>{{track.bpm}}</td>
  </tr>

  <tr>
    <th><a href="/rating/">rating</a></th>

    <td><nobr><div id="rate-{{track.id}}" class="rating"></div>
	<script type="text/javascript">$('#rate-{{track.id}}').rating('{{track.get_absolute_url}}rate/', {maxvalue:10,curvalue:{{track.rating}}});</script></nobr>
    </td>
  </tr>

  <tr>
    <th><a href="/tag/">tags</a></th>
    <td>
      {% for tag in track.tags %}
      <a href="/tag/{{tag.name}}/">{{tag.name}}</a>[<a href="tagup/{{tag.name}}/">&uarr;</a>]
      {% endfor %}

<form action="tag/" method="post">
<input type="text" name="tags" 
       value="{% for tag in track.tags %}{{tag.name}}{% if not forloop.last%}, {%endif%}{%endfor%}" />
<input type="submit" value="update tags" />
</form>

    </td>

</table>


{% endblock %}
