<html>
<head><title>maut: {% block title %}{% endblock %}</title>

<style media="screen" type="text/css">
@import "/site_media/css/site.css" ;
</style>
<script type="text/javascript" src="/site_media/js/rating/jquery.js"></script>
<script type="text/javascript" src="/site_media/js/rating/rating.js"></script>
<link rel="stylesheet" type="text/css" href="/site_media/js/rating/rating.css" />
<script type="text/javascript">
$(document).ready(function() {
//        $('#rate1').rating('www.url.php', {maxvalue:5});
//        $('#rate2').rating('www.url.php', {maxvalue:5, curvalue:3});
});
</script>

{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block feeds %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="wrapper">
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<h1 id="masthead">{% block masthead %}{% endblock %}</span></h1>
<div id="nav">
  <a href="/">index</a> |
  <a href="/rating/0/">unrated</a> |
  <a href="/rating/">by rating</a> |
  <a href="/genre/">by genre</a> |
  <a href="/year/">by year</a> |
  <a href="/tag/">by tag</a> |
  <a href="/playlist/">playlists</a>
{% block nav %}{% endblock %}
<div id="search"><form action="/search/"
		       method="get"><input type="text" name="q" /></form></div>
</div>

{% block content %}{% endblock %}
</div>
{% block footer %}{% endblock %}
</body></html>
